<!doctype html>
<html lang="es" prefix="og: http://ogp.me">
<head>
  <meta charset="utf-8">
  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% else %}{{ site.description }}{% endif %}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" href="/avatar.png" />
  <link rel="apple-touch-icon-precomposed" href="/avatar.png" />
  
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link href="/merriweather.css" rel="stylesheet" type="text/css" />

  <link rel="alternate" type="application/atom+xml"
        title="{{ site.name }} - {{ site.description }}" href="/atom.xml">

  <meta property="og:locale" content="es_AR"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:image" content="{{ site.url }}/avatar.png"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:article:published_time" content="{{ page.date }}"/>
  <meta property="og:article:author" content="{{ page.author }}"/>
</head>
<body>
