{% if paginator.total_pages > 1 %}
<div class="center">
  {% if paginator.previous_page %}
   {% if paginator.previous_page == 1 %}
      <a href="/" class="fl">antes</a>
    {% else %}
      <a href="{{ paginator.previous_page_path }}" class="fl">antes</a>
    {% endif %}
  {% else %}
    <span class="fl gray">antes</span>
  {% endif %}

  {{ paginator.page }} / {{ paginator.total_pages }}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="fr">después</a>
  {% else %}
    <span class="fr gray">después</span>
  {% endif %}
</div>
{% endif %}
